[Unit]
Description=Schedule commands to recieve NOAA satellite images
After=multi-user.target

[Service]
WorkingDirectory=/opt/schedule_satellites

User=matt
Group=matt

ExecStart=/opt/schedule_satellites/schedule_all.sh
